<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <title> ELEVATOR ZONE APPLICATION</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <style>
    </style>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <div class="header1" <h1>КАБИНА ЛИФТА</h1>
                    </div>
                    <div class="content1">
                        <div  class="row">
                            <div  class="col-md">
                                <button  type="button" class="btn1 ">
                                    >ВИДЕО< 
                                    </button>
                                        <button  type="button" type="button" class="btn1 ">>ПРИНУДИТЕЛЬНАЯ СВЯЗЬ< </a>
                                        </button>
                                                <button type="button" class="btn1">>ВКЛ./ВЫКЛ
                                                < </button>
                                </div>
                            </div>
       
                            <div class="im">
                                      
                                <img src="images/osn.png" "{{ url_for('static', filename='images/button-1.png') }}" class="img-fluid">
                        </div>
                    <div class="otst6">
                        
                        <div class="btn2">

                        </div>
                        
                            <menu>
                                <li class="blocks">
                                    <img src="images/but-1.png" "{{ url_for('static', filename='images/button-2.png') }}" class="img-fluid size">
                                    <input type="text" class="block6" value="12">
                                    <span class="font">ЭТАЖ</span>
                                </li>
                                <li class="blocks">
                                    <img src="images/but-2.png" "{{ url_for('static', filename='images/button-2.png') }}" class="img-fluid size">
                                    <input type="text" class="block6" value="">
                                    <span class="font">ИДЕТ ВИДЕОЗАПИСЬ</span>
                                </li>
                                <li class="blocks">
                                    <img src="images/but-2.png" "{{ url_for('static', filename='images/button-2.png') }}" class="img-fluid size">
                                    <input type="text" class="block6" value="">
                                    <span class="font">ИДЕТ АУДИОЗАПИСЬ</span>
                                </li>
                                <li class="blocks">
                                    <img src="images/but-2.png" "{{ url_for('static', filename='images/button-2.png') }}" class="img-fluid size">
                                    <input type="text" class="block6" value="">
                                    <span class="font">ОСВ. В ШАХТЕ</span>
                                </li>

                            </menu>
                            <menu>
                                <li class="blocks" id="font3">
                                    <img src="images/img.png" "{{ url_for('static', filename='images/button-2.png') }}" class="img-fluid size">
                                    <input type="text" class="block6" value="">
                                    <span class="font">ЧЕЛОВЕК В КАБИНЕ</span>
                                </li>
                            </menu>
                        </div>
                    </div>
                    <div>
                        <div class="footer1">
                            <button type="button" class="btn3 ">
                                >ЛОГИРОВАНИЕ<
                            </button>


                            <button type="button" class="btn3">
                                >ОТЧЕТ<
                            </button>

                            <button type="button" class="btn3">
                                >АРХИВ ЗАПИСЕЙ<
                                    
                            </button>
                        </div>
                    </div>
                </div>
                <div class="footer">
                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                    <div class="header2" <h1>МАШИННОЕ ОТДЕЛЕНИЕ</h1>
                    </div>
                    <div class="content2">
                        <div>
                            <button type="button" class="btn5 ">>ГОЛОСОВОЙ ВЫЗОВ < 
                            </button>
                        </div>
                        <menu>
                            <li class="blocks" id="font2">
                                <img src="images/but-5.png" "{{ url_for('static', filename='images/button-2.png') }}" class="img-fluid size">
                                <input type="text" class="block6" value="">
                                <span class="font">ЦЕПЬ БЕЗОПАСНОСТИ-1</span>
                            </li>
                            <li class="blocks" id="font2">
                                <img src="images/but-6.png" "{{ url_for('static', filename='images/button-2.png') }}" class="img-fluid size">
                                <input type="text" class="block6" value="">
                                <span class="font">ЦЕПЬ БЕЗОПАСНОСТИ-2</span>
                            </li>
                            <li class="blocks" id="font2">
                                <img src="images/but-7.png" "{{ url_for('static', filename='images/button-2.png') }}" class="img-fluid size">
                                <input type="text" class="block6" value="">
                                <span class="font">СВЕТ В МАШИННОМ ОТДЕЛЕНИИ</span>
                            </li>
                            <li class="blocks" id="font2">
                                <img src="images/but-8.png" "{{ url_for('static', filename='images/button-2.png') }}" class="img-fluid size">
                                <input type="text" class="block6" value="">
                                <span class="font">ТЕМПЕРАТУРА В ПОМЕЩЕНИИИ</span>
                            </li>
                            <li class="blocks" id="font2">
                                <img src="images/but-9.png" "{{ url_for('static', filename='images/button-2.png') }}" class="img-fluid size">
                                <input type="text" class="block6" value="">
                                <span class="font">ПОЖАР/ДЫМ</span>
                            </li>
                            <li class="blocks" id="font2">
                                <img src="images/but-10.png" "{{ url_for('static', filename='images/button-2.png') }}" class="img-fluid size">
                                <input type="text" class="block6" value="">
                                <span class="font">ВОДА/ВЛАЖНОСТЬ</span>
                            </li>
                            <div class="img5">
                                <img src="images/door.png" "{{ url_for('static', filename='images/button-1.png') }}" class="img-fluid">
                            </div>
                            <button class="btn10">
                                >АРХИВ ЗАПИСЕЙ <</a>
                            </button>
                            <span class="mt2">
                                <span class="lv1">ДВЕРЬ
                            <br> ОТКРЫТА</span>
                            </span>
                            <div class="img6">
                                <img src="images/door-2.png" "{{ url_for('static', filename='images/button-1.png') }}" class="img-fluid">
                            </div>
                            <span class="mt mt1">ДВЕРЬ
                                <br> ЗАКРЫТА</span>
                        </menu>
                    </div>
                    <div class="ft">

                    </div>
                </div>
                <div class="footer2">

                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
    </script>
</body>

</html>