    .container{
    padding-top: 43px; 
    
}
    .header1{
    width: 100%;
    height: 65px;
    border: 1px solid silver	;
    border-radius: 5px 5px;    
    background:#4c923a;
    color: #fffdff;
    font-family: impact;       
    text-align: center;
    font-size:30px;
    padding-top: 10px;
    }
    .header2{
    width: 100%;
    height: 65px;
    border: 1px solid silver;
    border-radius: 5px 5px;    
    background: #d10000;
    color: #fffdff;
    font-family: impact;           
    text-align: center;
    font-size:30px;
    padding-top: 10px;
    }
    .content1{
    width: 100%;
    height: 590px;
    border: 1px solid silver;
    border-radius: 5px 5px;    
    color:#ffffff;
    background:#F2F3F4;
    }
    .content2{
    width: 100%;
    height: 590px;
    border: 1px solid silver;
    border-radius: 5px 5px;  
    background:#F2F3F4;
    }
    .btn1{
    height: 30px;
    margin:7px;
    margin-top:19px;
    border: 1.5px  solid grey;
    font-family:Times New Roman;   
    font-size: 14px;
    background: #d10000;
    color:#ffffff;
    border-radius: 6px;
    position: relative;
    top: 10px;
    }
    .otst4{
    position: relative;
    right:  -162px; 
    bottom: 25px;   
    }
    a{
    color: #fffdff; 
    }
    img {
    width: 35%;
    height: auto;
    }
    .im{
    width: 80%;
    position: relative;
    bottom: -76px;

     }
    .im2{
    width: 226px;;
    height: auto;
    margin-top:-177px;
    position: absolute;
    right: 20px;
    }
    .im3{
    width: 226px;
    height: auto;
    margin-top: -177px ;
    position: absolute;
    right:-59px;
    }
    .otst6{
    position: relative;
    right:34px;  
    top: -80px;  
    }
    .size{
    width: 8%;
    position: relative;
    left:151px;
    text-align: left;
    margin: 14px;
    
    }
    a size{
    position: absolute;
    right: 20px;    
    }
    .otst{
    position: relative;
    right: -193px;    
    }
    .footer1{
    width: 100%;
    height:44px;
    border: 1px solid rgb(206, 206, 206);
    border-radius:0 0 8px 8px;
    background:#e6e6e6;   
    margin-top: -6px;;
    }
    .footer2{
    width: 100%;
    height:44px;
    border: 1px solid rgb(206, 206, 206);
    border-radius:0 0 8px 8px;
    background:#e6e6e6;   
    margin-top: -5px;
    }
    .btn3{
    float: left;
    height: 30px;
    margin:-17px 8px;
    margin-top:19px;
    border:1.5px solid #0000FF ;
    font-family:Times New Roman;   
    font-size: 14px;
    border-radius: 6px 6px;
    background: black;   
    color:#ffffff;
    position: relative;
    top:-70px;
    right: -21px;
    }
    
    .font{
    position: relative;
    right: -116px;
    color: grey; 
    font-weight: bold; 
    font-size: 13px; 
    }
    .block6{
    width: 22px;  
    height: 22px;
    position: relative;
    right: -70px;
    }
    .btn2{
    position: relative ;
    right: -10px;  
    }
    .btn5{
    width: 190px;
    height: 30px;
    margin:166px;
    margin-top:30px;
    position: relative;
    left: -131px;
    border: 1.5px  solid grey;
    font-family:Times New Roman;   
    font-size: 14px;
    background: #d10000;
    color:#ffffff;
    border-radius: 6px;  
    }
    li{
    list-style-type:none;
    }
    .btn10{
    height:30px ;
    position: relative;
    right: 2px;
    top:-159px;
    font-family: Times New Roman;
    font-size: 14px;
    border: 1.5px solid #0000FF;
    border-radius: 6px 6px;
    background:black;
    color: #ffffff;
    }
    .color1{
        padding: 10%;
    }
    #font2{
    list-style-type:none; 
    position: relative;
    left:-145px;
    top: -124px;
    }
    .img5{
    width: 55%;
    position: relative;
    right: -275px;
    bottom: 524px;
    }
    .img6{
    width: 55%;
    position: relative;
    right: -67%;
    bottom: 422px;
    }
    .mt {
    -webkit-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
    color: #ee2222;
    font-size: 20px;
    font-family:  Tahoma;
    font-weight: bold;
    position: relative;
    right:-66%;
    top: -426px;
    margin: 0px 12px;
    }
    .mt2 {
    -webkit-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
    color: #ee2222;
    font-size: 20px;
    font-family:  Tahoma;
    font-weight: bold;
    position: relative;
    right:-64%;
    top: -426px;
    margin: 0px -141px;
    }
    .mt1{
    position: relative;
    right: -270px;
    }
    @-webkit-keyframes blink {
    50% { color: rgb(150, 148, 148); }
    51% { color: rgba(163, 162, 162, 0); }
    100% { color: rgba(34, 34, 34, 0); }
    }
    @keyframes blink {
    50% { color: rgb(158, 158, 158); }
    51% { color: rgba(158, 158, 158, 0); }
    100% { color: rgba(34, 34, 34, 0); }                       
    }
    .lv1{
    position: relative;
    left: 10px;    
    top: -101px;
    }
    .font3{
    margin: 20%;
    }
    .btn-dark{
    border: 1px solid 	#0000FF;
        border-radius: 0 50px 50px 0;
    background: black;
    color: #ffffff;
    }
    .btn-dark1{
    border: 1px solid 	#0000FF;
    border-radius:50px 0 0 50px;
    background: black;
    color: #ffffff;
    }
        
